<div class="header-bot">
	<div class="header-bot_inner_wthreeinfo_header_mid">
		<div class="col-md-4 logo_agile">
			<h1>
				<a href="index.html">
					<span>Local</span> Market
					<!--<img src="images/logo1.jpg" alt=" ">-->
				</a>
			</h1>
		</div>
		<div class="col-md-8 header">
			<!-- search -->
			<div class="agileits_search">
				<form action="#" method="post">
					<input name="Search" type="search" placeholder="Find local markets in your area" required="">
					<button type="submit" class="btn btn-default" aria-label="Left Align">
						<span class="fa fa-search" aria-hidden="true"> </span>
					</button>
				</form>
			</div>
			<!-- //search -->
		</div>
		<div class="clearfix"></div>
	</div>
</div>