<div class="ads-grid">
	<div class="container">
		<div class="agileinfo-ads-display col-md-12">
			<div class="wrapper" ng-controller="SectionCtrl as Sec" onclick="scrollToBottom()">
				
				<!-- city -->
				<div class="product-sec1" ng-init="Sec.curr_cat = undefinded">
					<h3 class="heading-tittle">Explore your city</h3>
					<div class="col-md-4 product-men" data-toggle="modal" data-target="#SingleProdInfoModal" ng-repeat="cat in Sec.cats" ng-click="Sec.curr_cat = cat">
						<div class="men-pro-item simpleCart_shelfItem">
							<div class="men-thumb-item">
								<img ng-src="images/{{cat.image}}" class="img-thumbnail img-circle" alt="">
							</div>
							<div class="item-info-product">{{cat.title}}</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- // city -->

				<!-- category -->
				<div class="product-sec1" ng-if="Sec.curr_cat" ng-init="Sec.curr_market = undefinded">
					<h3 class="heading-tittle">{{Sec.curr_cat.title}}</h3>
					<div class="col-md-4 product-men" data-toggle="modal" data-target="#SingleProdInfoModal" ng-repeat="market in Sec.curr_cat.markets" ng-click="Sec.curr_market = market">
						<div class="men-pro-item simpleCart_shelfItem">
							<div class="men-thumb-item">
								<img ng-src="images/{{market.image}}" class="img-responsive" alt="">
							</div>
							<div class="item-info-product ">
								<h5>{{market.title}}</h5>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- // category -->
				
				<!-- // market -->
				<div _class="product-sec1" ng-if="Sec.curr_market">
    				<h3 class="heading-tittle">{{Sec.curr_market.title}}</h3>
    				<ul id="flexiselDemo1" class="list-unstyled">
    					<li class="col-md-4 product-men" ng-repeat="outlet in Sec.curr_market.outlets">
							<img ng-src="images/{{outlet.image}}" class="img-thumbnail img-responsive" alt="">
							<div class="product-name-w3l">
								<h5>{{outlet.title}}</h5>
							</div>
    					</li>
    				</ul>
    			</div>
    			<!-- // market-->
    			
			</div>
		</div>
	</div>
</div>